.btn-custom {
    background-image: linear-gradient(to right, #026e96 0%, #1f3b46 51%, #1f4c5c 100%);
    border: 2px solid #0084B4;
    transition: all .3s ease;
}
.btn-custom:hover {
    background-image: linear-gradient(to left, #026e96 0%, #1f3b46 51%, #1f4c5c 100%);
    border: 2px solid #0084B4;
}
.card-btn{
    background-color: #1f2c40;
    padding: 45px;
}
.card-btn button{
    padding-left: 3rem;
    padding-right: 3rem;
}